<h1>network_memberships keep track of who is in which networks</h1>

<% for network_membership in @network_memberships %>
  <%= link_to_name network_membership.user %> is a member of 
  <%= link_to_name network_membership.network %>
  <%= link_to 'show', network_membership %><br>
<% end %>