<p>
  <b>User:</b>
  <%=h @network_membership.user.name %>
</p>

<p>
  <b>Network:</b>
  <%=h @network_membership.network.name %>
</p>


<%= link_to 'edit', edit_network_membership_path(@network_membership) %> |
<%= link_to 'Back', network_memberships_path %>
