<h1>Editing phone_use</h1>

<% form_for(@phone_use) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @phone_use %> |
<%= link_to 'Back', phone_uses_path %>
