div#left_nav {
	width: 140px;
	background-color: #aa8844;
	float:left;
}

.login {
	float:right;
}

#splurgel_title {
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
	font-variant: small-caps;
	font-size: 4em;
	color: #664400;
}

a {
	color: #886622;
	padding-right: 2px;
}

a:hover {
	color: #fff;
	background-color: #886622;
	/* #eeeedd; */
	text-decoration: none;
}

a#profile {
	text-align: center;
	font-size: 2em;
}

.r {
	padding-left:10px;
}

.rr {
	padding-left:20px;
}

.rrr {
	padding-left:30px;
}

.rrrr {
	padding-left:40px;
}

#map_div {
	float:left;
}

form {
	float:left;
}
form#search {
	float:right;
}
#backup {
	float:right;
}