a {
	color: #886622;
	padding-right: 2px;
}

a:hover {
	color: #fff;
	background-color: #886622;
	/* #eeeedd; */
	text-decoration: none;
}

a#profile {
	text-align: center;
	font-size: 2em;
}

.r {
	padding-left:10px;
}

.rr {
	padding-left:20px;
}

.rrr {
	padding-left:30px;
}

.rrrr {
	padding-left:40px;
}