<h1>groups</h1>

<table>

<% for group in @groups %>
  <tr>
    <td><%= link_to_name group %></td>
		<td><%= link_to pluralize(group.memberships.count, 'member'), group_users_path(@group) %></td>
    <td><%= attach_image_link group %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new group', new_group_path %>
