<% form_remote_tag :url => '/search/' + model.pluralize, :update => 'results', :position => :top, :method => :get, :html => {:id => 'search'} do %>
  search<%= text_field_tag :query %>
<% end %>
<div id='results'></div>