<h1>tags</h1>

<table>
<% for tag in @tags %>
  <tr>
    <td><%= link_to_name tag %></td>
    <td><%= link_to 'uses', tag_taggings_path(tag) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new tag', new_tag_path %>
